[Unit]
Description=Wazuh Indexer (OpenSearch Data Node)
After=network-online.target

[Container]
Image=docker.io/wazuh/wazuh-indexer:4.14.5
ContainerName=wazuh_indexer
Network=att-net.network
Volume=wazuh-indexer-data.volume:/var/lib/wazuh-indexer:z

# Single node deployment for the prototype environment
Environment=discovery.type=single-node
Environment=OPENSEARCH_INITIAL_ADMIN_PASSWORD=VaultPasswordSecure2026
# Security defaults (in production, we mount custom certs)
Environment=DISABLE_INSTALL_DEMO_CONFIG=true
Environment=FIPS_MODE=false

[Install]
WantedBy=multi-user.target